.app {
	display: grid;
	place-items: center;
	height: 100vh;
	min-width: 500px;
}

.app__body {
	display: flex;
	height: 90vh;
	width: 90vw;
	box-shadow: -1px 4px 20px -6px black;
}

.app .toggle {
	position: absolute;
	top: 0;
	right: 0;
}
