.sidebarChat {
	display: flex;
	padding: 20px 0px 20px 20px;
	cursor: pointer;
	border-bottom: 1px solid lightgrey;
	max-height: 70px;
	overflow: hidden;
	align-items: center;
}
.sidebarChat > p {
	color: grey;
}
.sidebarChat .MuiSvgIcon-root {
	margin-right: 10px;
	color: grey;
}

.sidebarChat__room {
	margin-left: 15px;
	flex: 1;
}

.sidebarChat__roomName {
	font-size: 16px;
	margin-bottom: 8px;
	margin-right: 25px;
	-webkit-line-clamp: 1;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.sidebarChat__messageInfo {
	display: flex;
}

.sidebarChat__delete .MuiSvgIcon-root {
	position: relative;
	top: -5vh;
	color: grey;
	font-size: small;
	opacity: 0.2;
}

.sidebarChat__delete .MuiSvgIcon-root:hover {
	opacity: 1;
	transform: scale(1.1);
}
.sidebarChat__timestamp {
	font-size: small;
	color: lightgrey;
	margin-top: 10px;
}
.sidebarChat__lastMessage {
	flex: 1;
	margin-top: 10px;
	min-width: 140px;
	font-size: medium;
	color: grey;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.sidebarChat:hover {
	background-color: rgba(255, 255, 255, 0.103);
}
